<html lang='en'>
    <%- include("./head.ejs") %>

    <body style="background-color:#170B3B;">
        <%- include("./nav.ejs") %>
        <h1 style="color:yellow">About this page</h1>
        <p style="color:orange">
        This page was created to give all cooking enthusiasts an opportunity to learn from each other. This page was
        founded on 29/06/2022 by a fellow chef. Here you can read recipes shared by other users and also share any of 
        your favourite recipes. The incomplete feeling you get, when you have eaten a really delicious dish but don't 
        know how to make it, will not be a thing anymore. You can find a wide range of recipes here to fulfill your
        appetite. Hope you try new stuff and enjoy your cooking.
        </p>
        <h2><p2><a href="/">Return to homepage</a></p2></h2>
    </body>
</html>